@model MvcMovie.Models.Movie;


@{
    ViewData["Title"] = "Movies";
}

<h2>Edit Movie</h2>
<form class="form-group" method="post">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">ReleaseDate</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> @Html.TextBoxFor(x=>x.Id, new {@class = "form-control", @disabled = "disabled"}  )</th>
                <td> @Html.TextBoxFor(x=>x.Title, new {@class = "form-control"} )</td>
                <td> @Html.TextBoxFor(x=>x.Genre, new {@class = "form-control"} )</td>
                <td> @Html.TextBoxFor(x=>x.ReleaseDate, new {@class = "form-control"} )</td>
                <td> @Html.TextBoxFor(x=>x.Price, new {@class = "form-control"} )</td>
                <td> @Html.TextBoxFor(x=>x.Description, new {@class = "form-control"} )</td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Confirm</button>
</form>