@model List<MvcMovie.Models.Movie>;
@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
<table class="table">
    <thead></thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">ReleaseDate</th>
        <th scope="col">Price</th>
       
    </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <th>@movie.Id</th>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Price</td>
            </tr>
        }







    </tbody>
</table>